.btn {
  border-radius: 20px;
  border: 0;
  padding: 10px 30px;
  text-transform: uppercase;
  background-color: #95dbed;
  cursor: pointer;
}

.btn-delete {
  background-color: #d35d5d;
  color: white;
}

.btn-delete:focus {
  background-color: #bc4f4f;
}

.btn-add {
  background-color: #78d384;
  color: white;
}

.btn-add:focus {
  background-color: #84ba78;
}

.btn-large {
  padding: 15px 30px; 
  border-radius: 40px;
}

.btn-xlarge {
  padding: 20px 40px;
  border-radius: 40px;
}