.input-wrapper {
  margin-bottom: 10px;
}

.label {
  font-size: 14px;
  font-weight: 300;
  color: black;
  display: block;
}

.input {
  display: block;
  font-size: 150%;
}

.label-error {
  color: var(--red);
}