@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

:root {
  --red: #d35d5d;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  margin: 10px 0;
  font-weight: bold;
  font-size: 200%;
}

.container {
  width: 98%;
  margin: 0 auto;
}

.todo {
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 30px;
}

.todo:last-of-type {
  margin-bottom: 0;
}

.todo h2 {
  font-weight: bold;
  margin-bottom: 10px;
}

.todo p {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 960px) {
  .container {
    width: 960px;
  }
}

